.avatars.mobile.--container {
  width: 90%;
  max-width: 700px;

  padding: 20px 20px 50px;

  .vertical-divider,
  .horizontal-divider {
    background-color: var(--dark-blue);
    opacity: 0.15;
    border-radius: 10px;
  }

  .horizontal-divider {
    min-height: 3px;

    margin: 0 auto;
    max-width: 500px;

    &.bottom {
      margin: 0 auto 25px;
    }
  }

  // Styling for the container on the left side (ie. where users see their most up to date avatar)
  .sub-header {
    text-align: left;
    font-size: 30px;
  }

  .top.chat-options {
    display: flex;
    justify-content: center;

    .edit-icon {
      color: var(--yellow);

      width: 30px;
      height: 30px;

      margin: 5px 0 0 5px;

      &:hover {
        cursor: pointer;
        color: var(--off-yellow);
      }
    }

    .users-color {
      min-width: 30px;
      max-width: 30px;
      min-height: 30px;
      max-height: 30px;

      border-radius: 30px;
      margin: 5px 0 0 10px;
    }

    &.non-edit {
      margin: 15px 0 0;

      .sub-header {
        margin: 5px 0 0;
      }
    }

    &.edit .users-color:hover {
      cursor: pointer;
      border: var(--hover-selection);
    }
  }

  .avatar-container {
    background-color: var(--white);
    border-radius: 20px;

    width: 250px;
    height: 250px;

    margin: 20px auto 25px;

  }

  // Styling for the container on the right side (ie. the area where users select their customization choices)
  .bottom-container {
    .sub-header.hair {
      text-align: left;
      font-size: 15px;

      margin: 0 0 5px 20px;
    }

    .avatar.header {
      margin: 5px 0 30px;
    }

    .customization-section {
      display: flex;
      justify-content: space-between;

      width: 75%;
      max-width: 350px;
      padding: 10px 0;
      margin: 0 auto;

      svg {
        width: 50px;
        height: 50px;

        margin: 0 10px;

        filter: invert(13%) sepia(40%) saturate(2260%) hue-rotate(172deg) brightness(94%) contrast(98%);

        &.active {
          filter: invert(54%) sepia(55%) saturate(5413%) hue-rotate(159deg) brightness(100%) contrast(82%);
        }

        &:not(&.active):hover {
          cursor: pointer;
          opacity: 0.75;
        }
      }
    }

    .customization-options-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;

      max-width: 550px;
      padding: 0 10px;
      margin: 0 auto;

      display: none;

      &.active-selection {
        display: flex;
      }

      .customization-option {
        display: flex;
        justify-content: center;

        width: 55px;
        height: 55px;

        border-radius: 15px;

        margin: 0 15px 15px;

        &.active-selection {
          border: var(--active-selection);
        }

        &:not(&.active-selection):hover {
          cursor: pointer;
          border: var(--hover-selection);
        }
      }
    }
  }
}

.btn-container.edit {
  z-index: 10;
  text-align: center;
  background-color: var(--dark-blue);
  box-shadow: var(--fixed-shadow);

  position: fixed;
  bottom: -5px;
  height: 120px;
  width: 100%;

  margin: 0 auto;
  padding: 15px 0 0;

  .--btn {
    margin: 0 0 10px;

    &.outline {
      font-weight: 500;
      background-color: var(--dark-blue);
    }
  }
}

.popup.mobile.--container {
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 85%;
  max-width: 400px;
  padding: 1.5em;

  .close-btn {
    width: 100%;
    padding: 0 0 0 93%;
  }

  .btn-container {
    @media (max-width: 400px) {
      text-align: center;
      margin-top: 15px;
    }

    * {
      margin: 1em;

      @media (max-width: 400px) {
        margin: .5em 1em;
      }
    }
  }
}
