.classroom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 150px;

  .classroom-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

    .incoming-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 10px;
        z-index: 1;
        align-items: flex-start;
    }

    .classroom-grid {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .classroom-sidenav {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 150px;
        padding: 10px;
        background-color: var(--dark-blue);
        box-shadow: var(--nav-shadow);
    }
}
