// TODO: Dynamic sizing so that it is legible on all screens
// TODO: Figure out how to add underline on active subsection

.classroom-management.--container {
  width: 70%;
  height: 550px;

  top: calc(50% + 35px);
  padding: 60px 75px;

  .horizontal-divider {
    background-color: var(--dark-blue);
    opacity: 0.15;
    border-radius: 10px;

    min-height: 3px;
    width: 70%;

    margin: 5px auto 20px;
  }

  .subview-toggle-container {
    display: flex;
    justify-content: space-between;

    width: 60%;
    margin: 0 auto;

    .sub-header {
      font-size: 23px;
      padding: 0 10px;

      &:not(&.active) {
        color: var(--dark-blue);

        &:hover {
          cursor: pointer;
          opacity: 0.75;
        }
      }
    }
  }
}

// Styling for the existing classroom sub-section
.classroom-management.--container .existing-container {
  text-align: center;

  p.descriptive-text {
    line-height: 105%;

    width: 60%;
    margin: 0 auto 25px;
  }

  .join-class {
    display: flex;
    justify-content: center;


    label.sub-header {
      text-align: left;
      margin: 0 15px 0 0;

      #inviteCode {
        width: 250px;
        margin: 5px 0 0;
      }
    }

    .--btn {
      height: 40px;
      margin: 23px 0 0;
    }
  }

  .section-divider {
    display: flex;
    justify-content: center;

    margin: 20px 0 0;

    .horizontal-divider.short {
      height: 2px;
      width: 30%;
      margin: 10px;
    }
  }

  .your-classes {
    display: flex;
    justify-content: center;

    margin: 15px 0 35px;

    .class-card {
      background-color: var(--white);
      box-shadow: var(--card-shadow);
      border-radius: 15px;

      min-width: 250px;
      padding: 20px 0;
      margin: 0 20px;

      a {
        text-decoration: none;
      }
    }
  }

  .yours {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .status {
    display: flex;
    justify-content: center;
    font-style: italic;
  }

  .status::before {
    width: 10px;
    height: 10px;
    background-color: green;
    color: transparent;
    content: ". ";
    border-radius: 100px;
    align-self: center;
    margin-right: 8px;
  }

  .status.inactive::before {
    background-color: red;
  }
}

// Styling for the create classroom sub-section
.classroom-management.--container .new-container {
  text-align: center;

  p.descriptive-text {
    line-height: 105%;

    width: 60%;
    margin: 0 auto 25px;
  }

  .set-name {
    display: flex;
    justify-content: center;

    label.sub-header {
      text-align: left;
      margin: 0 15px 30px 0;

      #classroomName {
        width: 350px;
        margin: 5px 0 0;
      }
    }
  }

  .sub-header {
    text-align: left;
  }

  .classroom-layout {
    background-color: var(--white);

    border-radius: 25px;

    height: 100px;
    margin: 0 0 25px;
  }

  .your-classes {
    display: flex;
    justify-content: center;

    margin: 15px 0 35px;

    .class-card {
      background-color: var(--white);
      box-shadow: var(--card-shadow);
      border-radius: 15px;

      min-width: 250px;
      padding: 20px 0;
      margin: 0 20px;


    }

  }
}
