// TODO: Style the navbar for mobile
// TODO: Fix the styling of the logout button

// Overwritting styling for the default navbar
.navbar-collapse.collapse,
.navbar.navbar-expand-lg.navbar-dark {
  justify-content: flex-end !important;
}

button.navbar-toggler,
button.navbar-toggler.collapsed {
  background-color: var(--yellow);
  border-radius: 30px;

  margin: 0.5rem 1.5rem 0.5rem 0 !important;

  &:focus {
    color: var(--dark-blue);
  }

  &:hover {
    background-color: var(--off-yellow);
  }
}

button.navbar-toggler:not(.collapsed) {
  margin: 0.5rem 1.5rem 1rem 0 !important;
}


.navbar.desktop-nav {
  z-index: 10;
  position: absolute;

  font-size: 25px;
  font-family: 'Oswald';
  font-weight: 400;
  text-transform: uppercase;

  background-color: var(--dark-blue);
  box-shadow: var(--nav-shadow);

  width: 100%;

  padding: 1.5rem !important;

  // Following code is styles the right-side of navbar
  a.btn-navbar,
  .nav-link {
    letter-spacing: 2px;
    line-height: 5px;
  }

  a.nav-link {
    cursor: default;
    color: var(--yellow) !important;

    height: 10px;
    margin: 1.5rem 1rem 0rem;
    padding: 0;

    &.last-link {
      margin-right: 2rem;
    }

    &.active {
      font-weight: 700;
    }

    // Styling used for animated underline on hover
    &::after {
      content: '';
      display: block;
      width: 0;
      height: 8px;
      background: var(--orange);

      -webkit-transition: width .3s;
      -moz-transition: width .3s;
      -o-transition: width .3s;
      transition: width .3s;
    }

    &:not(&.active):hover {
      cursor: pointer;
      text-decoration: underline;
    }

    &:hover::after {
      width: 100%;
    }

    &:active {
      opacity: 0.75;
    }
  }

  // Styling for the logout button.
  button.--btn.outline {
    text-decoration: none;
    border-radius: 10px;

    background-color: var(--dark-blue);

    padding: 0 20px 3px;
  }
}

// Mobile styling
.navbar.mobile-nav {
  z-index: 10;
  position: absolute;

  font-size: 25px;
  font-family: 'Oswald';
  font-weight: 400;
  text-transform: uppercase;

  background-color: var(--dark-blue);
  box-shadow: var(--nav-shadow);

  width: 100%;

  padding: 0;

  .navbar-nav {
    min-height: 100%;
    background-color: var(--yellow);

    border-radius: 0 0 25px 25px;
  }

  // Following code is styles the right-side of navbar
  a.nav-link {
    cursor: default;
    color: var(--white);
    opacity: 0.8;
    letter-spacing: 1px;
    border-bottom: 1px solid var(--white);

    padding: 1rem 1.75rem;

    &.logout {
      padding-bottom: 1.5rem;
      border-bottom: none
    }

    &.active {
      pointer-events: none;
      font-weight: 700;
      opacity: 1;
    }

    &:not(&.active):hover {
      cursor: pointer;
    }

    &:hover {
      opacity: 1;
      color: var(--white) !important;
    }
  }

  .dropdown-menu.show {
    background-color: var(--yellow);
    padding: 0;

    border: none;

    .sub-nav {
      font-size: 25px;
      font-weight: 400;

      margin: 0;
      padding: 1rem 3.5rem;

      &.active {
        pointer-events: none;
        font-weight: 700;
        background-color: var(--off-yellow);
      }
    }
  }
}
