// Styling for account creation prompt
.signup.--container {
  width: 400px;
  min-width: 300px;
  padding: 60px 85px 50px;

  margin-top: 30px;

  .header {
    margin: 0 0 20px;
  }

  .btn-container {
    text-align: center;
    margin: 20px 0 15px;
  }

  .form-group {
    margin: 0 0 15px;

    &.last {
      margin: 0;
    }

    input.textbox {
      width: 100%;
    }
  }

  p {
    font-weight: 300;
    text-align: center;

    &.small-text {
      font-size: 0.6em;
    }

    a {
      color: var(--yellow);
      font-weight: 700;
      text-decoration: underline;

      &:hover {
        color: var(--off-yellow);
        cursor: pointer;
      }
    }
  }
}

.signup.--container .account-creation--msg {
  text-transform: uppercase;
}

.signup.--container .form-error {
  color: var(--red);
  font-size: 10px;
  font-weight: bold;
  text-align: left;

  margin: 5px 0 0;
}

// Styling for successful account creation prompt
.signup.--container.success {
  text-align: center;
  width: 500px;
}

// Mobile styling
@media (max-width: 600px) {
  .signup.--container {
    max-width: 90%;
    padding: 50px 50px 40px;
  }
}
